@model Method_Library.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Category";
}
 
<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @if (ViewBag.LanguageId != null)
            {
                <div class="form-group">
                    <label class="control-label">Selected Language</label>
                    <select class="form-control" disabled>
                        @foreach (var language in Model.Languages)
                        {
                            <option value="@language.Value" selected="@(language.Value == ViewBag.LanguageId.ToString())">@language.Text</option>
                        }
                    </select>

                    <input type="hidden" asp-for="SelectedLanguageId" value="@ViewBag.LanguageId" />
                    <span asp-validation-for="SelectedLanguageId" class="text-danger"></span>
                </div>
            }
            else {
                <div class="form-group">
                    <label asp-for="SelectedLanguageId" class="control-label">Select Language</label>
                    <select asp-for="SelectedLanguageId" asp-items="Model.Languages" class="form-control"></select>
                    <span asp-validation-for="SelectedLanguageId" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
