@model Method_Library.Models.Categories

@{
    ViewData["Title"] = Model.Name;
    
}


<div>
    <span><a asp-controller="Languages" asp-action="Display" asp-route-id="@Model.LanguageId">@Model.Languages.Name</a>/</span>
    <span><a asp-controller="Categories" asp-action="Display" asp-route-id="@Model.Id">@Model.Name</a>/</span>
    <h3>Categories</h3>
    <a asp-controller="Snippets" asp-action="Create">Create new</a>
    <hr />
    <div>
        @foreach (var snippets in Model.Snippets)
        {
            <p><a asp-controller="Snippets" asp-action="Display" asp-route-id="@snippets.Id">@snippets.Name</a></p>
        }
    </div>
</div>