@model Method_Library.Models.Categories

@{
    ViewData["Title"] = Model.Name;
    
}


<div>
    <span><a asp-controller="Languages" asp-action="Display" asp-route-id="@Model.LanguageId">@Model.Languages.Name</a>/</span>
    <span>@Model.Name/</span>
    <h3>Snippets</h3>
    <div style="position: relative;">
        <a asp-controller="Snippets" asp-action="Create" asp-route-categoryId="@Model.Id" asp-route-languageId="@Model.Languages.Id">Create new Snippet</a>
        <a style="position: absolute; top: 10px; right: 10px;" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    </div>
    <hr />
    <div>
        @foreach (var snippets in Model.Snippets)
        {
            <a asp-controller="Snippets" asp-action="Display" asp-route-id="@snippets.Id">
                <div style="padding:10px; border: 1px #CCCCCC solid; margin: 5px 0px; box-shadow: 1px 1px #CCCCCC">
                    <h5>@snippets.Name</h5>
                </div>
            </a>
        }
    </div>
</div>