@model Method_Library.Models.Snippets

@{
    ViewData["Title"] = Model.Name;
    
}


<div>
    <span><a asp-controller="Languages" asp-action="Display" asp-route-id="@Model.Categories.LanguageId">@Model.Categories.Languages.Name</a>/</span>
    <span><a asp-controller="Categories" asp-action="Display" asp-route-id="@Model.CategoryId">@Model.Categories.Name</a>/</span>
    <span>@Model.Name</span>
    <p><h3>Code</h3></p>
    <hr />
    <div>
        <div style="background-color: #444444; width: 100%; min-height: 300px; padding: 10px;"><pre style="color: white;">@Model.Code</pre></div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>